*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
.list{
    display: flex;
    gap: 25px;
}
.list a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.552);
}
.tit{
    border-bottom: 5px solid red;
}
.btn1{
    border: none;
    padding: 7px;
    padding-inline: 20px;
    border-radius: 7px;
    color: red;
    
    border: 2px solid white;
}
.section1{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.part1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.part1 h1{
    color: #314584;
    font-size:55px;
    font-weight: 650;
}
.part1 p{
    color: grey;
    font-size: small;
}
.btn2{
    border: none;
    padding: 10px;
    background-color: red;
    border-radius: 50px;
    color: white;
    padding-inline: 20px;
}
.btn3{
    border: none;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    color: blue;
    padding-inline: 20px;
}
.section2{
    padding-top: 50px;
    padding-inline:162px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card1 h1{
    color: blue;
    font-weight: 600;
}
.card2{
    background-color: red;
    /* padding-inline: 26px; */
    padding: 26px 26px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: white;
    box-shadow: 10px 10px 8px hsl(0, 0%, 95%);
    border: 1px solid white;
}
.card2 h1{
    color: blue;
}
.card2 p{
    color: grey;
    font-size: medium;
}








.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    gap: 2vh;
}
form{
    display: flex;
    flex-direction: column;
    
}
.contact{
padding-right:47.5vw ; 
display: flex;
flex-direction: column;
gap: 1vh;
}
.contact h2{
    color: rgb(49, 69, 132);
}
.contact p{
    color: rgb(255, 58, 71);
}
input{
    width: 25vw ;
    height: 5vh;
    background-color: hsl(204, 83%, 98%);
}
textarea{
    background-color: hsl(204, 83%, 98%);
}

.input{
    display: flex;
    gap: 5vw;
}
.button{
    background-color: hsl(356, 100%, 61%);
    color: white;
    width: 20vw;
    border-radius: 20px;
    border: none;
    margin-left: 19vw;
    padding: 10px;
}
footer{
    background-color:hsl(226, 46%, 35%) ;
   padding-bottom: 8vh;
   padding-top: 5vh;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: white;
}
.footer h2{
    color: rgb(255, 58, 71);

}
ul{
    display: flex;
    gap: 2vw;
    list-style: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    /* background: #3B5998; */
    color: white;
    padding-left: 41.5vw;
  }
  
  .fa-twitter {
    /* background: #3B5998; */
    
    color: white;
  }
  .fa-dribbble {
    /* background: #ea4c89; */
    color: white;
  }
